*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    border: border-box;  /*for proper measurement */
}
.navbar{
    height:60px;
    background-color: #0F1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    width:100px;
    height:50px;
}
#amazonlogo{
       background-image: url("final.png");
       background-size:cover;
       height:50px;
       width:100%;
       

}
.border{
    border:1px solid transparent;
}
.border:hover{
    border:1px solid white;
}
/**next div**/
#text1{
    font-size: 0.8rem;
    color:#cccccc;
    margin-left: 15px;
}
#text2
{
    font-size: 1rem;  
    margin-left:3px;
}
.add-icon{
    display: flex;
    align-items:center;
}
/*search bar*/
.nav-search{
    display:flex;
    width:620px;
    height:40px;
    border-radius:3px;
    justify-content: space-evenly;
    
}
.search-all{
    background-color: #f3f3f3;
    width:51px;
    text-align:center;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border:none;
}
.nav-search-field{
    width:100%;
    font-size:1rem;
    border:none;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    background-color:rgb(224, 141, 52);
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border:none;
    color:#0F1111;

}
.nav-search:hover{
    border:3px solid rgb(224, 141, 52);
}
/*lanaguage*/
.nav-lang{
    display: flex;
    font-weight: 700;
}

/*sign-in*/
span{
    font-size:0.8rem;
}
.nav-account{
    font-size:14px;
    font-weight:700;
}
/*CART*/
.CART i {
    font-size:30px;
}
.CART{
    font-size: 0.8rem;
    font-weight: 700;
}
/*PANEL*/
.panel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    COLOR:white;
    justify-content:space-evenly;
    align-items: center;
}
.panel-options p{
    display:inline;
    margin-left:15px;

}
.panel-options{
    width:70%;
    font-size: 0.8rem;
}

.panel-deals{
    font-size:0.9rem;
    font-weight: 700;
}
/* hero-section */
.hero-section{
    background-image: url("Bannerr.jpg");
    background-size: cover;
    height:380px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    

}
.hero-panel{
    background-color: white;
    color:#0F1111;
    height: 40px;
    width:80%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.hero-panel a{
    color:#007815
}
/* shop section */
.main-content{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color:#e4e6e6;
    

}
.box{
    height:400px;
    /* border:2px solid black; */
    width: 23%;
    background-color:white;
    color:#0F1111;
    padding: 20px 0px 15px;
    margin-top: 1rem;
    
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;
}
.bcontent{
    margin-left:1rem;
    margin-right:1rem;
}
.bcontent p{
    color:#007815
} 
/*FOOTER*/
footer{
    margin-top:1rem;
}
.foot-panel1{
    height:50px;
    font-size:0.8rem;
    background-color:#3a4758;
    color:white;
    display:flex;
    justify-content: CENTER;
    align-items: center;
}
.foot-panel2{
    height: 300px;
    background-color: #222f3d;
    color:white;
    padding-top: 20PX;
    display:flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #cccccc;
    
    
}
ul{
    margin-top:3px;
    
}
ul a{
    font-size: 0.8rem;  
    display: block;
    margin-top:15px;
    color:#cccccc
}
.foot-panel3{
    padding: 1rem;
    height:80px;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4e6e6;

}
.term1 p{
    display:inline;
    font-size: 0.8rem;
}
.term1 p{
    margin-left: 10px;
}
.term2{

    margin-left:70px;
    font-size:0.7rem;
}
